
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 300px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    gap: 6px;
}

.form_input{
    height: 50px;
    border-radius: 10px ;
    border: 1px solid rgb(105, 105, 105);
    padding-left: 10px;
}

.form_input:focus{
    border: 1px solid blue;  
}

.form_label{
    margin-top: 15px;
    font-size: 14px;
}


.form-date{
    display: flex;
    gap: 5px;
    display: flex;
    flex-direction: column;
    flex:1; 
}

.form_cvc_input{
    height: 50px;
    width: 70px;
    border-radius: 10px ;
    border: 1px solid rgb(105, 105, 105);
    padding-left: 10px;
    font-size: 18px;   
}

.form-cvc{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:6px;
}

.form-date > div {
    display: flex;
    gap: 6px;
}

.date_cvc{
    display: flex;
    flex-direction: row;
    flex-basis: 1;
    
}

.submit_btn{
    height: 50px;
    margin-top: 20px;
    border-radius: 10px ;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}