
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form{
    width: 100%;
    height: calc(100vh - 250px);
    padding: 1.5rem;
}

.form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 6px;
}

.form_input{
    min-height: 50px;
    border-radius: 10px ;
    border: 1px solid rgb(105, 105, 105);
    padding-left: 10px;
}

.form > input:not(:focus):invalid{
    border-color: rgb(169, 14, 14);
}

.form > input:focus{
    border-style: solid; 
    border-width: 2px;
    border-color: cornflowerblue;
    
}

.form_label{
    margin-top: 15px;
    font-size: 14px;
}


.form-date{
    display: flex;
    gap: 5px;
    display: flex;
    flex-direction: column;
    flex:1; 
}

.form_cvc_input{
    height: 50px;
    width: 70px;
    border-radius: 10px ;
    border: 1px solid rgb(105, 105, 105);
    padding-left: 10px;
    font-size: 18px;   
}

.form-cvc{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:6px;
}

.form-date > div {
    display: flex;
    gap: 6px;
}

.date_cvc{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-basis: 1;
}

.form-error{
    color: red;
    font-size: 12px; 
}


.submit_btn{
    min-height: 50px;
    margin-top: 20px;
    border-radius: 10px ;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .form-container{
       flex-direction: row;
       height: 80vh;
       width: 60vw;
       min-width: 1200px;
       background-color: white;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
       
    }

    form{
        flex:2;
        padding: 0 240px;
        
    }
}