
.card-front__container{
    height: 164px;
    width: 299px;
    background-image: url(../../../public/bg-card-front.png);
    background-size: contain;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
    gap: 20px;

}

.card-front__container > div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: hsl(270, 3%, 87%);
    

}

.card-back__container{
    height: 164px;
    width: 299px;
    background-image: url(../../../public/bg-card-back.png);
    background-size: contain;
    position: absolute;
    top: 10%;
    left: 4rem;
}

.cards-container{
    position: relative;
    background-size: contain;
    flex-direction: column;
    background-image: url(../../../public/bg-main-mobile.png);
    background-size: 100%;
    background-repeat: round;
    height: 40dvh;
    color: white;
}

.card-front__number{
    letter-spacing: 3px;
    align-self: center;
    font-size: 19px;
}

.card-back__cvc{
    transform: translate(80%,445%);
    font-size: 12px;
}