
.card-front__container{
    height: 164px;
    width: 299px;
    background-image: url(https://i.ibb.co/v4hM5zB/bg-card-front.png);
    background-size: cover;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: calc(50% - 170px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;
    border-radius:8px;

}

.card-front__container > div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: hsl(270, 3%, 87%);
    

}

.card-back__container{
    height: 164px;
    width: 299px;
    background-image: url(https://i.ibb.co/cvscN8Z/bg-card-back.png);
    background-size: cover;
    position: absolute;
    top: 10%;
    left: calc(45% - 100px);
    border-radius:8px;
}

.cards-container{
    position: relative;
    background-size: contain;
    display: flex;
    justify-content: center;
    background-image: url(https://i.ibb.co/z8XR3cG/bg-main-mobile.png);
    background-size: 100%;
    background-repeat: round;
    min-height: 250px;
    color: white;
    
}

.card-front__number{
    letter-spacing: 3px;
    align-self: center;
    font-size: 19px;
}

.card-back__cvc{
    transform: translate(80%,480%);
    font-size: 12px;
}

.card-front__logo{
    height: 30px;
    width: 55px;
    
    
    
}

@media only screen and (min-width: 768px) {
    .cards-container{
        background-image: url(https://i.ibb.co/0cqL3W5/bg-main-desktop.png);
        background-size: cover;
        width: 800px;
        height: 100%;
        flex:1;
        min-width: 36%;
        
    }

    .card-front__container{
        top: 20%;
        left: 30%;
        height: 205px;
        width: 359px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        padding: 30px 0;
    }

    .card-back__container{
        top: 52%;
        left: 50%;
        height: 205px;
        width: 359px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
         
    }

    .card-back__cvc{
        transform: translate(83%,573%);
        font-size: 12px;
    }

    .card-front__number{
        letter-spacing: 4px;
        font-size: 23px;
    }

    .card-front__details{
        padding: 0 20px;
    }

    .card-front__logo{
        margin-left: 1rem;
    }
}