.App{
    
    height: 100vh;
    width: 100vw;
}

@media only screen and (min-width: 768px) {
    .App{
        
        display: grid;
        place-items: center;
        background-color: #F5F5F5;
    }
}
